/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-sans: 'Inter'; 
  --font-mono: 'PressStart2P', monospace; 
  --text-weight: 410;    
  --heading-weight: 715;
  --accent-weight: 400; 
    /* Резиновые значения для шапки */
  --header-width: clamp(375px, 80%, 700px);
  --header-height: clamp(250px, 40vh, 368px);
  --logo-size: clamp(49px, 10vw, 100px);
  --title-font-size: clamp(20px, 6vw, 48px);
  --subtitle-font-size: clamp(14px, 4vw, 24px);
  --head-pad: clamp(16px, 4vw, 80px);

  --bg: #fff;
  --card-bg: #fff;
  --label-color: #000; /* основной цвет текста */
  --label-stroke: #fff; /* цвет обводки текста */
  --text: #000;
  --card-padding: 25px;
  --transition-mid: 0.3s;

  --heart-contour-color: #000;      /* цвет контура по умолчанию */
  --heart-core-color: transparent;  /* сердцевина по умолчанию */
  --heart-body-color: transparent;  /* основное тело по умолчанию */
  --heart-active-color: red;        /* цвет при клике */

  --grid-bg: 
    /* Горизонтальные полосы */
    repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px
  ),
  /* Вертикальные полосы */
  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0 2px,
    transparent 2px 4px
  ),
  /* Плавный градиент сверху вниз */
  linear-gradient(
    to bottom,
    #e7e7e7 0%,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
}


/* адаптив: для десктопа большие поля */
@media (min-width: 1440px){
  :root{
    --head-pad: 100px;
  }
}

/* адаптив: мобильный узенький */
@media (max-width: 375px){
  :root{
    --head-pad: 12px;
  }
}
